@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
.form-input {
  @apply w-full rounded-md border px-4 py-2.5 text-sm text-gray-800 outline-none focus:border-indigo-600;
}

.form-label {
  @apply text-sm font-semibold text-gray-700;
}

.required {
  @apply text-red-500;
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
